In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Load the dataset
data_url = 'https://raw.githubusercontent.com/dsrscientist/Data-Science-ML-Capstone-Projects/master/Automobile_insurance_fraud.csv'
df = pd.read_csv(data_url)
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [3]:
# Drop unnecessary columns
df = df.drop(['policy_number', 'policy_bind_date', 'incident_date', 'auto_make', 'auto_model', '_c39'], axis=1)

In [4]:
# Handling missing values (if any)
df = df.dropna()

In [5]:
# Encode categorical variables
encoder = LabelEncoder()
categorical_cols = ['policy_state', 'policy_csl', 'insured_sex', 'insured_education_level',
                    'insured_occupation', 'insured_hobbies', 'insured_relationship',
                    'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted',
                    'incident_state', 'incident_city', 'incident_location', 'property_damage',
                    'police_report_available', 'fraud_reported']

for col in categorical_cols:
    df[col] = encoder.fit_transform(df[col])

In [6]:
# Split the data into training and testing sets
X = df.drop('fraud_reported', axis=1)
y = df['fraud_reported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
# Train a Random Forest classifier
classification_model = RandomForestClassifier()
classification_model.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
# Make predictions on the testing set
y_pred = classification_model.predict(X_test)

In [9]:
# Print the predictions
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(predictions)

     Actual  Predicted
521       0          0
737       0          0
740       0          0
660       0          0
411       0          0
..      ...        ...
408       0          0
332       0          0
208       0          0
613       0          0
78        0          0

[200 rows x 2 columns]